# Ignore Git directory
.git/

# Ignore the virtual environment folder
cryptovenv/
mlruns/
mlartifacts/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore the cache directory
__pycache__/

# Ignore other unnecessary files
*.gitignore
