# Ignore virtual environment folder
cryptovenv/
df_predictions.xlsx
data/
mlruns/
mlartifacts/
dvc_storage/

# Ignore Python bytecode files
*.pyc

# Ignore IDE config
.vscode/
.idea/

# Ignore log files
*.log
