# Ignore virtual environment and folders
cryptovenv/
df_predictions.xlsx
data/
mlruns/
mlartifacts/
dvc_storage/
app/Crypto-price-forcasting.ipynb
mlflow.db

# Ignore Python bytecode files
*.pyc
*.egg-info/

# Ignore IDE config
.vscode/
.idea/

# Ignore log files
*.log

# Ignore dvc files
*.dvc